
   /* CONFIRM MODAL */


.confirm-modal{

position:fixed;

inset:0;

background:rgba(15,23,42,.55);

backdrop-filter:blur(5px);

display:flex;

justify-content:center;

align-items:center;

opacity:0;

visibility:hidden;

transition:.3s;

z-index:99999;

}

.confirm-modal.show{

opacity:1;

visibility:visible;

}

.confirm-box{

width:100%;

max-width:430px;

background:white;

border-radius:24px;

padding:35px;

box-shadow:0 30px 80px rgba(0,0,0,.18);

text-align:center;

transform:translateY(25px) scale(.95);

transition:.35s;

}

.confirm-modal.show .confirm-box{

transform:translateY(0) scale(1);

}

.confirm-icon{

width:80px;

height:80px;

margin:0 auto 20px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

background:#FEE2E2;

color:#DC2626;

font-size:34px;

}

.confirm-box h2{

font-size:28px;

margin-bottom:12px;

color:#1E293B;

}

.confirm-box p{

color:#64748B;

font-size:16px;

line-height:1.6;

margin-bottom:30px;

}

.confirm-buttons{

display:flex;

gap:15px;

}

.confirm-buttons button{

flex:1;

padding:15px;

border:none;

border-radius:14px;

font-size:15px;

font-weight:600;

cursor:pointer;

transition:.25s;

}

.confirm-buttons button:hover{

transform:translateY(-2px);

}

.secondary-btn{

background:#E2E8F0;

color:#334155;

}

.secondary-btn:hover{

background:#CBD5E1;

}

.danger-btn{

background:#DC2626;

color:white;

}

.danger-btn:hover{

background:#B91C1C;

}

@media(max-width:600px){

.confirm-box{

margin:20px;

padding:28px;

}

.confirm-buttons{

flex-direction:column;

}

}